@page
@model LoginModel
@{
	ViewData["Title"] = "Login Page";
}

    <style>
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <div class="login-container">
        <form style="width: 300px; height: 500px;">
            <h1 class="pb-3 text-center">Please sign in</h1>

            <div class="form-floating my-4">
                <input type="text" class="form-control" id="Username" placeholder="Username">
                <label for="Username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="Password" placeholder="Password">
                <label for="Password">Password</label>
            </div>
        
            <div class="checkbox my-4 text-center">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>